PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/health_fitness_tracker
CLIENT_URL=https://health-fitness-tracker-491f.onrender.com
VITE_API_URL=https://health-fitness-tracker-backend-qcu8.onrender.com

